/*O navegador já cria margin e padding automáticamente, esse bloco abaixo é para retirar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Biliboteca de cores*/
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.5);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

/*Biblioteca modo light*/
.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(./assets/Sun.svg);
}
/*Fim da biblioteca modo light*/

body {
  background: var(--bg-url);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover; /*Irá cobrir todo espaço visível*/
}

body * {
  /*O Asterístico é usado como seletor universal, para informar que dentro de todo campo mencionado é para usar as propriedades declaradas abaixo*/
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 360px;
  margin: 56px auto 0px; /*No CSS o "auto" só funciona para esquerda e direita, não para cima e baixo*/
}


         /*Profile*/
#profile {
  text-align: center;
  /*Partes inline aceitam que o seu "anterior" seja centralizado usando o text-align: center*/
  padding: 24px;
}

#profile img {
  width: 112px; /*No CSS a altura geralmente segue o tamanho do conteúdo, logo nem sempre é necessário declarar*/
  /*Em imagens, não é possível usar o margin auto pois o display é inline sempre*/
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  margin-top: 8px;
}

         /*Switch*/

#switch {
  position: relative;
  width: 64px; /*largura fixa*/

  margin: 4px auto;
}


/*Botão modo lua*/
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

     /*Centralização com position absolute*/
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);
}
/*Fim do botão modo lua*/


 /*Botão sol, modo light*/
.light #switch button {
  right: 0;
  left: initial;
}
 /*Fim do botão sol, modo light*/

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}


/*links*/
ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px; /*Gap é usado para colocart espaço entre os elementos*/

  padding: 24px 0;
}

ul li a {
  display: flex;
  align-items: center; /*jogou o conteúdo no meio, pela altura*/
  justify-content: center; /*jogou o conteúdo no meio, pela largura*/
  height: 52px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color); /*rgba = Red, Green, Blue e Alfa(transparência)*/
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  transition: background 0.2s;
}

/*pseudo-selector (onde será aplicado diferenças em contato com cursor*/

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*Social-links*/
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}

#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;

  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

/*Footer*/
footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}
